<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/articulos.css">
</head>
<body>
    <div class="productos-container">
    <div class="producto">
        <img src="/artimagenes/1.jpeg" alt="Producto 1">
        <h2>Mouse</h2>
        <p>Precio: $20.99</p>
        <button class="mostrar-detalles">Mostrar detalles</button>
        <div class="detalles-hidden">
            <p>Detalles: Totalmente flexible.</p>
        </div>
        <button data-id="{{producto.id}}" class="agregar-al-carrito"
            data-nombre="Producto 1"
            data-precio="19.99"
            data-detalles="Detalles del producto 1"
            data-imagen="/imagenes/img01.webp">Agregar al carrito</button>
    </div>
    <div class="producto">
        <img src="/artimagenes/2.jpeg"
            alt="Producto 1">
        <h2>Camara web</h2>
        <p>Precio: $38.99</p>
        <button  class="mostrar-detalles">Mostrar detalles</button>
        <div class="detalles-hidden">
            <p>Ideal gran calidad de grafica.</p>
        </div>
        <button data-id="{{producto.id}}" class="agregar-al-carrito"
            data-nombre="Producto 1"
            data-precio="19.99"
            data-detalles="Detalles del producto 1"
            data-imagen="/imagenes/img02.jpeg">Agregar al carrito</button>
    </div>
    <div class="producto">
        <img src="/artimagenes/3.jpeg"
            alt="Imagen">
        <h2>Teclado</h2>
        <p>Precio: $22.99</p>
        <button class="mostrar-detalles">Mostrar detalles</button>
        <div class="detalles-hidden">
            <p>Detalles: Exelente con luz interna.</p>
        </div>
        <button data-id="{{producto.id}}" class="agregar-al-carrito"
            data-nombre="Producto 1"
            data-precio="19.99"
            data-detalles="Detalles del producto 1"
            data-imagen="/imagenes/im03.jpeg">Agregar al carrito</button>
    </div>
    <div class="producto">
        <img src="/artimagenes/4.jpeg"
            alt="Producto 1">
        <h2>Parlantes</h2>
        <p>Precio: $40.99</p>
        <button class="mostrar-detalles">Mostrar detalles</button>
        <div class="detalles-hidden">
            <p>Detalles: Sonido envolvente calidad alta.</p>
        </div>
        <button data-id="{{producto.id}}" class="agregar-al-carrito"
            data-nombre="Producto 1"
            data-precio="19.99"
            data-detalles="Detalles del producto 1"
            data-imagen="/imagenes/img04.jpeg">Agregar al carrito</button>
    </div>

</div>
<div class="productos-container">
    <div class="producto">
        <img src="/artimagenes/5.jpeg"
            alt="Producto 1">
        <h2>Audiculares</h2>
        <p>Precio: $34.99</p>
        <button class="mostrar-detalles">Mostrar detalles</button>
        <div class="detalles-hidden">
            <p>Detalles: Sonido fluido con microfono.</p>
        </div>
        <button data-id="{{producto.id}}" class="agregar-al-carrito"
            data-nombre="Producto 1"
            data-precio="19.99"
            data-detalles="Detalles del producto 1"
            data-imagen="/imagenes/img05.jpeg">Agregar al carrito</button>
    </div>
    <div class="producto">
        <img src="/artimagenes/6.jpeg"
            alt="Producto 1">
        <h2>Audiculares</h2>
        <p>Precio: $29.99</p>
        <button class="mostrar-detalles">Mostrar detalles</button>
        <div class="detalles-hidden">
            <p>Detalles: Exelente sonido con microfono.</p>
        </div>
        <button data-id="{{producto.id}}" class="agregar-al-carrito"
            data-nombre="Producto 1"
            data-precio="19.99"
            data-detalles="Detalles del producto 1"
            data-imagen="/imagenes/img06.jpeg">Agregar al carrito</button>
    </div>
    <div class="producto">
        <img src="/artimagenes/7.jpeg"
            alt="Imagen">
        <h2>Teclado</h2>
        <p>Precio: $19.99</p>
        <button class="mostrar-detalles">Mostrar detalles</button>
        <div class="detalles-hidden">
            <p>Detalles: Teclas super flexibles.</p>
        </div>
        <button data-id="{{producto.id}}" class="agregar-al-carrito"
            data-nombre="Producto 1"
            data-precio="19.99"
            data-detalles="Detalles del producto 1"
            data-imagen="/imagenes/img07.png">Agregar al carrito</button>
    </div>
    <div class="producto">
        <img src="/artimagenes/8.jpeg"
            alt="Producto 1">
        <h2>Producto</h2>
        <p>Precio: $50.99</p>
        <button class="mostrar-detalles">Mostrar detalles</button>
        <div class="detalles-hidden">
            <p>Detalles: Calidad de sonido de gamma alta.</p>
        </div>
        <button data-id="{{producto.id}}" class="agregar-al-carrito"
            data-nombre="Producto 1"
            data-precio="19.99"
            data-detalles="Detalles del producto 1"
            data-imagen="/imagenes/img08.jpeg">Agregar al carrito</button>
    </div>
</div>
<script src="/js/productos.js"></script>
</body>
</html>